<section class='bg-primary-light min-h-screen py-8'>
  <div class='grid grid-cols-5 grid-rows-5 gap-8 max-w-5xl mx-auto'>
    <div
      class='col-span-4 row-span-3 bg-theme-blue aspect-video rounded-2xl overflow-hidden'
    >
      <img
        src='/images/lolalolitaland-hero.webp'
        alt='fotografia de una joven tumbada con un fondo de parque de atracciones'
      />
    </div>
    <div
      class='row-span-2 col-start-5 bg-primary rounded-2xl text-5xl text-center text-white font-black justify-center items-center flex flex-col'
    >
      <span class='-rotate-3 inline-block'>14 & 15</span>
      <span class=''>de Junio</span>
    </div>
    <div
      class='row-span-2 col-start-5 row-start-3 bg-primary rounded-2xl text-white flex justify-center text-4xl text-center items-center font-black'
    >
      <span class='-rotate-3 flex flex-col'>Compra tus entradas</span>
    </div>
    <div
      class='col-span-2 row-start-4 bg-primary rounded-2xl overflow-hidden relative'
    >
      <a
        href='/#mapa'
        class='absolute -top-14'
      >
        <img
          src='/images/map.webp'
          alt='lola lolita event location'
        />
      </a>
    </div>
    <div class='col-span-2 col-start-3 row-start-4 bg-primary rounded-2xl'>
      6
    </div>
  </div>
</section>
